.place-details {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
    margin: 10px 0;
  }
  
  .place-name {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .place-address, .place-description {
    margin-bottom: 10px;
  }
  
  .currency-symbol {
    font-weight: bold;
    color: #333;
  }
  
  .address-text, .description-text {
    margin-left: 5px;
    color: #555;
  }
  
  .place-address {
    font-size: 1.1em;
  }
  
  .place-description {
    font-size: 1em;
    color: #777;
  }
  
  @media (min-width: 768px) {
    .place-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .place-address, .place-description {
      margin-bottom: 15px;
    }
  }

.default-img, .hover-img {
  width: 200px; /* 너비 설정 */
  height: 200px; /* 높이 설정 */
  object-fit: cover; /* 이미지의 비율을 유지하면서 요소 크기에 맞춤 */
  border-radius: 10px; /* 모서리를 둥글게 */
}

.image-container {
  position: relative;
  width: 200px; /* 이미지 컨테이너와 동일한 너비 */
  height: 200px; /* 이미지 컨테이너와 동일한 높이 */
}

